body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1400px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7535 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1400px;
  opacity:0.600000023841858;
}
#u7536 {
  position:absolute;
  left:2px;
  top:692px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:90px;
}
#u7537 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:90px;
}
#u7538 {
  position:absolute;
  left:2px;
  top:37px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u7539 {
  position:absolute;
  left:970px;
  top:27px;
  width:105px;
  height:37px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u7540 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u7541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u7541 {
  position:absolute;
  left:40px;
  top:20px;
  width:160px;
  height:50px;
}
#u7542 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u7543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#666666;
}
#u7543 {
  position:absolute;
  left:1138px;
  top:27px;
  width:131px;
  height:37px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#666666;
}
#u7544 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u7545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u7545 {
  position:absolute;
  left:1334px;
  top:27px;
  width:105px;
  height:37px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u7546 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u7547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7547 {
  position:absolute;
  left:1706px;
  top:28px;
  width:35px;
  height:35px;
}
#u7548 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u7549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7549 {
  position:absolute;
  left:1751px;
  top:34px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7550 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:0px 1px 1px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:0px 1px 1px rgba(204, 204, 204, 0.349019607843137);
}
#u7551 {
  position:absolute;
  left:411px;
  top:99px;
  width:189px;
  height:56px;
}
#u7552 {
  position:absolute;
  left:2px;
  top:20px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u7553 {
  position:absolute;
  left:437px;
  top:114px;
  width:27px;
  height:27px;
}
#u7554 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7555 {
  position:absolute;
  left:474px;
  top:114px;
  width:117px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7556 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u7557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:0px 1px 1px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:0px 1px 1px rgba(204, 204, 204, 0.349019607843137);
}
#u7557 {
  position:absolute;
  left:1130px;
  top:99px;
  width:379px;
  height:56px;
}
#u7558 {
  position:absolute;
  left:2px;
  top:20px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7559 {
  position:absolute;
  left:1148px;
  top:116px;
  width:24px;
  height:24px;
}
#u7560 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7561 {
  position:absolute;
  left:1182px;
  top:115px;
  width:297px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7562 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u7563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7563 {
  position:absolute;
  left:1865px;
  top:41px;
  width:14px;
  height:14px;
}
#u7564 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u7565 {
  position:absolute;
  left:1494px;
  top:27px;
  width:116px;
  height:37px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u7566 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u7567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7567 {
  position:absolute;
  left:913px;
  top:452px;
  width:101px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7568 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u7569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u7569 {
  position:absolute;
  left:910px;
  top:330px;
  width:100px;
  height:100px;
}
#u7570 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
